<%- include('partials/header.ejs') %>
<body>


    <h1 class="text-center mb-4">Update/Delete Authors</h1>
    <div class="list-group">
      <% for (i = 0; i < authors.length; i++) { %>
        <div class="list-group-item d-flex justify-content-between align-items-center">
          <span>
            <%= authors[i].firstName %> <%= authors[i].lastName %>
          </span>
          <span>
            <a href="/author/edit?authorId=<%= authors[i].authorId %>" class="btn btn-sm btn-outline-primary mr-2">UPDATE</a>
            <a href="/author/delete?authorId=<%= authors[i].authorId %>" class="btn btn-sm btn-outline-danger">DELETE</a>
          </span>
        </div>
      <% } %>
    </div>


</body>
</html>
